html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    line-height: 1.5;
}

.App {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
            "navbar"
            "menu"
            "showroom";
    min-width: 360px;
    height: 100vh;
}

@media screen and (min-width: 580px) {
    .App {
        display: grid;
        grid-template-columns: 200px auto;
        grid-template-rows: 50px auto;
        grid-template-areas:
                "navbar navbar"
                "menu showroom"

    }
}

.NavBar {
    height: 100%;
    grid-area: navbar;
    display: grid;
    background: deeppink;
    background: linear-gradient(-90deg, #EE7752, #E73C7E, #ff9BFB, #23D5AB);
    background-size: 400% 400%;
    animation-name: anim-navbar;
    animation-duration: 60s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    padding: 0;
    margin: 0;
}

.NavBar > h1 {
    margin: auto;
}

@keyframes anim-navbar {
  0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.Showroom {
  grid-area: showroom;
  height: 100%;
  display: grid;
  grid-template-rows: auto 50px;
  grid-template-areas:
          "app"
          "buttons";
}

.Dashboard {
    grid-area: app;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 280px;
    grid-row-gap: 20px;
    padding-top: 20px;
    height: 100%;
    overflow-y: auto;
}

@media screen and (min-width: 1060px) {
    .Dashboard {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1440px) {
    .Dashboard {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (min-width: 1820px) {
    .Dashboard {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}


.Panel {
    background-color: #FFFFFF;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    height: 270px;
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.Close {
    all: unset;
    margin-left: 340px;
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0;
    color: red;
    font-size: 14px;
}

.Close:hover {
  cursor: pointer;
}

.ButtonBar {
    grid-area: buttons;
    position: sticky;
    bottom: 0;
    width: 100%;
    display: inline;
}

.BottomButton {
    margin-left: 10px;
    height: 100%;
    width: 100px;
    border-radius: 10px;
    opacity: 1;
}
